img {
    display: block;
    margin:auto;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size:400%;
}

p{
    font-size:100%;
    margin: 15px;
}

a:link, a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:hover, a:active {
    color: #ffffff;
    text-decoration: underline;
}

.main {
    background-color: #111111;
    padding: 15px 20px;
}

#h2Main {
    font-size:200%;
    margin:2px;
}

.aMain {
    font-size:110%;
}
