#contact {
    display: block;
    margin:auto;
    height: 32px;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: sans-serif;
}

p{
    font-size:100%;
    margin: 15px;
}

a:link, a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:hover, a:active {
    color: #ffffff;
    text-decoration: underline;
}

#title {
    text-align: center;
    font-size:600%;
    margin: 20px;
}

.main {
    background-color: #111111;
    padding: 15px 20px 50px 15px;
    margin: 20px;
}

#h1Main {
    font-size:200%;
    margin:2px;
}

.aMain {
    font-size:110%;
}

@media screen and (max-width: 800px) { /*for screens smaller than 800px wide*/
    #title {font-size: 300%;}
    #h1Main {text-align: center;}
}
