.texto {
    color: #ffffff;
    font-family: sans-serif;
}

img {
    display: block;
    margin:auto;
}

body {
    background-color: #111111;
}

h1 {
    text-align: center;
    font-size:400%;
}

h2 {
    font-size:200%;
}

p{
    font-size:100%;
    margin: 15px;
}

a:link, a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:hover, a:active {
    color: #ffffff;
    text-decoration: underline;
}
